[Desktop Entry]
Name=AmazonMotionshot
Comment=Take motion captures from Amazon Fire TV
Exec=/opt/AmazonMotionshot/AmazonMotionshot.sh
Icon=/opt/AmazonMotionshot/Icon.png
Terminal=false
Type=Application
Categories=Development
 
Name[en_GB]=AmazonMotionshot
